<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/fragments/Head :: head">
</head>
<body>
<header th:replace="admin/fragments/Header :: header"></header>
<div class="d-flex justify-content-between">
    <aside th:replace="/admin/fragments/Menu :: menu"></aside>
    <div class="text-center" style="width: 1300px; height: 669px;">
        <h2 class="mb-3">Danh Mục Sản Phẩm</h2>
        <div class="d-flex justify-content-end mb-3 me-5">
            <a th:href="@{/danh-muc/add}">
                <button class="btn bg-primary text-white">Thêm Danh Mục</button>
            </a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="table-dark">
                <th>STT</th>
                <th>Tên</th>
                <th>Trạng Thái</th>
                <th>Thao Tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dm , index : ${DanhMucs}">
                <td th:text="${index.index + 1}"></td>
                <td th:text="${dm.ten}"></td>
                <td th:text="${dm.trangThai}"></td>
                <td class="d-flex justify-content-around">
                    <form method="post" action="#" th:action="@{/danh-muc/sua}">
                        <input type="hidden" name="id" th:value="${dm.id}">
                        <button type="submit" class="btn btn-warning">
                            <i class="fa-solid fa-cart-plus"></i> Sửa
                        </button>
                    </form>
<!--                    <form method="post" action="#" th:action="@{/danh-muc/xoa}">-->
                    <!--                        <input type="hidden" name="id" th:value="${dm.id}">-->
                    <!--                        <button type="submit" class="btn btn-danger">-->
                    <!--                            <i class="fa-solid fa-cart-plus"></i> Xóa-->
                    <!--                        </button>-->
                    <!--                    </form>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>